body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    display: none;
}

pre {
    line-height: 6px; /* Adjust this value to control the height of ASCII characters */
}
